@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {

    $availHeight: calc(100vh - $topBoxHeight);
    $h1Height: calc($availHeight / $fib);

    #Services {
    
        .services {
        
            h1 {
                width: 100vw;
                height: 10vh;
                top: 39vh;
            }
        
            .copyServices {
                top: 53vh;
                width: 100vw;
                display: flex;
                height: 27vh;
            }

            .buttonCTA {
                display: none;

                button {

                }
            }
        }
    }
}