@import '../../Assets/vars';

@media screen and (width < $tabletMin) {


    * {
    }
    
    .parallax {
        background-size: min(100vw, calc($tabletMin * 0.6));
    }
    .parallax:nth-last-of-type(1) {
    }
    
    .parallax:nth-of-type(odd) {
        background-position: center top 10vh;
    }
    
    .parallax:nth-of-type(even) {
        background-position: center bottom 20vh;
    }

    .p1 {
        background-image: url(../../Assets/Images/Pages/Hero/Mobile/featured.webp);
        background-image: image-set(
            "../../Assets/Images/Pages/Hero/Mobile/featured.webp" type("image/webp"),
            "../../Assets/Images/Pages/Hero/Mobile/featured.png" type("image/png"),
        );
        
    }
    
    .p2 {
        background-image: url(../../Assets/Images/Pages/About/Mobile/featured.webp);
        background-image: image-set(
            "../../Assets/Images/Pages/About/Mobile/featured.webp" type("image/webp"),
            "../../Assets/Images/Pages/About/Mobile/featured.png" type("image/png"),
        );
        
    }
    
    .p3 {
        background-image: url(../../Assets/Images/Pages/Services/Mobile/featured.webp);
        background-image: image-set(
            "../../Assets/Images/Pages/Services/Mobile/featured.webp" type("image/webp"),
            "../../Assets/Images/Pages/Services/Mobile/featured.png" type("image/png"),
        );
        
    }
    
    .p4 {
        justify-content: center;
        align-items: end;
        
        form {
            width: 50vw;
            height: 28vh;
            justify-content: center;
            align-items: center;
            bottom: 21vh;
    
            :nth-last-child(n + 2) {
                width: 100%;
            }
        }
    }
    
    .bodySection {
    }
    
    .bodySection:nth-of-type(odd) {
        background-image: url(../../Assets/Images/Pages/Odd-Pages/Mobile/stencil.webp);
        background-position: center top -5vh;
    }
            
    .bodySection:nth-of-type(even) {
        background-image: url(../../Assets/Images/Pages/Even-Pages/Mobile/stencil.webp);
        background-position: center bottom 5vh;
    }
    
    .bodySectionDk {
    }
    
    .bodySectionDk:nth-of-type(odd) {
        background-image: url(../../Assets/Images/Pages/Odd-Pages/Mobile/stencilDk.webp);
        background-position: center top -5vh;
    }
            
    .bodySectionDk:nth-of-type(even) {
        background-image: url(../../Assets/Images/Pages/Even-Pages/Mobile/stencilDk.webp);
        background-position: center bottom 5vh;
    }
}