@import '../../Assets/vars';

@media screen and ($standardMin <= width < $hd1080Min) {
    
    .pageBg {
        left: 20vw;
        width: 80vw;
        min-height: 100vh;
        border-left: 1px solid #747474;
    }

    .bottomBuffer {
        display: none;
    }

    .container {
        width: 80vw;
    }

    .homeContainer,
    .portfolioContainer,
    .skillsContainer,
    .aboutContainer,
    .contactContainer {
        width: 70vw;
        min-height: 100vh;
    
        ul {
        }
    
        h1 {
        }
    }
}