@import '../../Assets/vars';
/**
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';
*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.parallax {
	height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: calc($tabletMin * 0.6);
}

.p1 {
	background-image: url(../../Assets/Images/Pages/Hero/Mobile/featured.webp);
	background-position: center top 10vh;
    
}

.p2 {
	background-image: url(../../Assets/Images/Pages/About/Mobile/featured.webp);
	background-position: center bottom 8vh;
}

.p3 {
	background-image: url(../../Assets/Images/Pages/Services/Mobile/featured.webp);
	background-position: center top 18vh;
    
}

.p4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fc4f00;
    
    form {
        z-index: 5;
        position: relative;
        text-align: center;
        top: 13vh;
    }
}

.bodySection {
    position: absolute;
    left: 0;

    .content {
        color: #fff;
        text-align: center;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}
