@import '../../Assets/vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.parallax {
	height: 110vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.parallax:nth-last-of-type(1) {
    height: 110vh;
}

.parallax:nth-of-type(odd) {
}

.parallax:nth-of-type(even) {
}

.p1 {
    // see browser specific stylesheets
}

.p2 {
    // see browser specific stylesheets
}

.p3 {
    // see browser specific stylesheets
}

.p4 {
    width: 100vw;
    display: flex;
    background: #fc4f00;
    
    form {
        z-index: 5;
        position: relative;
        text-align: center;
        display: flex;
        flex-flow: column;

        :nth-last-child(n + 2) {
        }
    }
}

.bodySection {
    color: #fff;
    text-align: center;
    width: 100vw;
    height: 110vh;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
}

.bodySection:nth-of-type(odd) {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: max(550px, 100vw);
}
        
.bodySection:nth-of-type(even) {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: max(550px, 100vw);
}
