@import '../../../Assets/vars';

@media screen and (width >= $hd4kMin) {

    .aboutContainer {
    
        h1 {
            // keyframes for these animations found in Layout.scss
        }
    
        h1, h2 {
        }
    
        .headshot {
    
            svg {
    
                #Headshot {
                }
            }
    
            #headshotImg {
            }
        }
    
        .venn {
            $size: 45vw;
            width: $size;
            height: $size;

            h2 {
            }
    
            ul {
    
                li {
    
                    &::before {
                    }
    
                    &:hover {
                        &::before {
                        }
                    }
                }
            }
    
            .topCircle { // Interests
                top: calc($size * .22);
                width: calc($size * .45);
                height: calc($size * .45);
    
                .li1 { // dog
                    top: 30%;
                }
    
                .li2 { // star trek
                }
                .li3 { // lotr
    
                }
                .li4 { // music
                    top: 8%;
                    left: 70%;
                }
    
                h3 {
                    span {
                        height: calc($size * .22);
                        width: calc($size * .44);
                    }
                }
    
                ul {
                }
            }
    
            .leftCircle { // Hobbies
    
                h3 {
                    span {
                    }
                }
    
                ul {
                    
                    .li1 { // cooking
                        top: 15%;
                        left: 15%;
                    }
                    .li2 { // beach
                    }
                    .li3 { // reading
    
                    }
                    .li4 { // gaming
                    }
                }
            }
    
            .rightCircle { // Professional
    
                h3 {
                    span {
                    }
                }
    
                ul {
                    
                    .li1 { // learning
                        top: 10%;
                        left: 60%;
                    }
                    .li2 { // creating websites
                    }
                    .li3 { // online journals
    
                    }
                    .li4 { // books
                    }
                }
            }
        }
    }
}