@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {

    #Contact {
    
        .contact {
        
            h1 {
                width: 100vw;
                height: 10vh;
                top: 20vh;
            }
        
            .copyContact {
                top: 30vh;
                width: 100vw;
                height: 26vh;
            }
        }
    }
}