@import '../../../Assets/vars';
@import './mobile';
@import './tablet';
/**
@import './standard';
@import './hd1080';
@import './hd4kup';
*/

#Contact {

    .contact {
    
        h1 {
            font-family: $fontFamily1;
            color: $orange;
            font-weight: 400;
            line-height: 2rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .copyContact {
            font-family: Arial, Helvetica, sans-serif;
            color: $dkGrey;
            font-size: 0.85rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}