@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {

    $headerHeight: calc($topBoxHeight * 0.66667);
    $headerBuffer: 2vh;
    
    .topBox {
        bottom: 0;
        margin-bottom: $headerBuffer;
    }
    
    .cta {
        height: calc($topBoxHeight - $headerHeight);
    }
    
    .header {
        position: absolute;
        background-color: $offWhite;
        box-shadow: 0 $headerBuffer 0 $offWhite;
        height: $headerHeight;
    
        .logoBox {
            width: 33%;
            height: 100%;
    
            a { 
    
                picture {
    
                    img {
                        height: calc($headerHeight * 0.9);
                    }
    
                }
            }
        }
    
        .mobileNavMenu {
            width: 33%;
            height: 100%;
    
            svg {
                height: calc($headerHeight / $fib);
            }
    
            .open {
                transform: rotate(-90deg);
                animation: rotateX 1s ease-in-out;
                animation-fill-mode: forwards;
            }
    
            @keyframes rotateX {
                from {
                    transform: rotate(-90deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }
    
            ul {
                animation: menuOpen 1s ease-in-out;
                animation-fill-mode: forwards;
                height: 0vh;
                bottom: 16vh;
                width: 100vw;

                :first-child {
                    margin-top: auto;
                }
    
                :last-child {
                    margin-bottom: 3vh;
                }
    
                li {
    
                    a {
        
                        &:hover {
                        }
                    }
    
                }
            }
            @keyframes menuOpen {
                from {
                    height: 0vh;
                }
                to {
                    height: 87vh;
                }
            }
        }
    
        .phone {
            width: 34vw;
            left: 33vw;
            align-items: center;
    
            a {
            }
        }
    }
}