@import '../../../Assets/vars';

@media screen and ($tabletMin <= width < $standardMin) {

    .header,
    .topBox {
        width: 100vw;
        height: 22vh;
        bottom: 0;
        z-index: 1001;
    }
    
    .header {
        left: 0;
        column-count: 3;
    
        .logo {
            margin-top: 0;
            margin-bottom: 0;
            max-height: 20vh;
            max-width: 33vw;
            position: absolute;
            left: 2vw;
            bottom: 1vh;
    
            img {
            }
        }

        a {
            .mobileSlogan {
                font-size: 0.9rem;
                position: absolute;
                bottom: 1vh;
                text-align: center;
                width: 100vw;
            }
            .slogan {
                display: none;
            }
        }

        .mobileNavMenu {
            align-items: center;
            nav {
                ul {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 9.25vh;
                    right: 0;
                    width: 75%;
                    background-color: $lightGrey;
                    border-bottom: 2px solid $orange;
                    text-align: right;
                    list-style-type: none;
                    font-size: 2rem;
                    line-height: 5rem;
                    padding-top: 2rem;
                    padding-right: 7%;
                    z-index: 500;

                    li {
                    }
                }
                a {
                    text-decoration: none;
                    color: #4ad2cd;
                    font-family: $fontFamily1;
                }
                .hamburger {
                    position: absolute;
                    right: 7vw;
                    bottom: 4vh;

                    svg {
                        stroke: #4ad2cd !important;
                        fill: #4ad2cd !important;
                    }
                }
            }
        }

        .navMenu {
            display: none;
        }
    }
}