@import '../../../Assets/vars';

@media screen and ($tabletMin <= width < $standardMin) {

    $headerHeight: $topBoxHeight;
    $headerBuffer: 5vh;
    
    .topBox {
        top: 0;
        margin-top: $headerBuffer;
    }
    
    .cta {
        display: none;
        height: calc($topBoxHeight - $headerHeight);
    }
    
    .header {
        position: sticky;
        height: $headerHeight;
    
        .logoBox {
            width: 15vw;
            height: 15vw;
            margin-top: -5vh;
    
            a { 
    
                picture {
    
                    img {
                        height: calc($headerHeight * 0.9);
                        padding: 1vh;
                        background-color: $offWhite;
                        border-radius: 1vw;
                    }
    
                }
            }
        }
    
        .mobileNavMenu {
            width: 10vw;
            height: 10vw;
            margin-right: 5vh;
    
            svg {
                height: calc($headerHeight / $fib);
                background-color: $offWhite;
                border-radius: 1vw;
                width: 5vw;
                height: 5vw;
            }
    
            .open {
                transform: rotate(0deg);
                animation: rotateX 1s ease-in-out;
                animation-fill-mode: forwards;
            }
    
            @keyframes rotateX {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(90deg);
                }
            }
    
            ul {
                animation: menuOpen 1s ease-in-out;
                animation-fill-mode: forwards;
                height: 0vh;
                top: 16vh;
                width: 40vw;

                :first-child {
                    margin-top: 3vh;
                }
    
                :last-child {
                    margin-bottom: auto;
                }
    
                li {
    
                    a {
        
                        &:hover {
                        }
                    }
    
                }
            }
            @keyframes menuOpen {
                from {
                    height: 0vh;
                }
                to {
                    height: 50vh;
                }
            }
        }
    
        .phone {
            width: 50vw;
            left: 25vw;
            align-items: baseline;
    
            a {
            }
        }
    }
}