@import '../../../Assets/vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

$switchHeight: max(45px, 2vw);
$switchWidth: calc($switchHeight * 2.5);

.topBox {
    position: fixed;
    left: 0;
    width: 100vw;
    height: $topBoxHeight;
    z-index: 1000;
}

.cta {
    width: 100vw;
    background-color: $orange;
    color: #fff;
    font-family: $fontFamily1;
    font-size: 1.5rem;
    text-align: center;
}

.header {
    width: 100vw;
    display: flex;

    .logoBox {
        display: flex;
        justify-content: center;
        align-items: center;

        a { 

            picture {

                img {
                    margin-top: 0;
                    margin-bottom: 0;
                    max-width: 90%;
                }

            }
        }
    }

    .mobileNavMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;

        svg {
        }

        .open {
        }

        ul {
            list-style-type: none;
            position: absolute;
            z-index: 100000;
            background: $dkGrey;
            line-height: 2rem;
            text-align: center;
            right: 0;
            font-family: "Secular";
            padding: 0;
            border: 1px solid #23242466;
            box-shadow: 0px 0px 5px $dkGrey;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            :first-child {
            }

            :last-child {
            }

            li {
                height: 10vh;
                font-size: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #e7e9eb;
    
                    &:hover {
                        color: $orange;    
                    }
                }

            }
        }
    }

    .phone {
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;

        a {
            text-decoration: none;
            color: $orange;
            font-family: $fontFamily1;
            background: #e7e9eb99;
            border-radius: 1vw;
            padding: 0 1vw;
        }
    }

    .dkModeToggle {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;

        .lightMode {
            color: $offWhite;
            text-shadow: 0 0 calc($switchWidth * .008) $dkGrey;
            display: flex;
            align-items: center;
            text-align: right;
            padding: 0 calc($switchWidth * 0.1);
        }

        .darkMode {
            color: $dkGrey;
            text-shadow: 0 0 calc($switchWidth * .008) $offWhite;
            display: flex;
            align-items: center;
            text-align: left;
            padding: 0 calc($switchWidth * 0.1);
        }

        label {
            width: $switchWidth;
            height: $switchHeight;
            position: relative;
            display: block;
            background: $offWhite;
            border-radius: $switchHeight;
            box-shadow: inset 0 calc($switchWidth * .01) calc($switchWidth * .03) #23242465, inset 0 calc($switchWidth * -0.01) calc($switchWidth * .03) #e7e9eb65;
            cursor: pointer;
            transition: 0.3s;

            &:after {
                content: "";
                width: calc($switchWidth * 0.36);
                height: calc($switchWidth * 0.36);
                position: absolute;
                top: calc($switchWidth * .02);
                left: calc($switchWidth * .02);
                background: radial-gradient(circle at calc($switchWidth * 0.18) calc($switchWidth * 0.09), #ffcc89 10%, $orange 70%);
                border-radius: calc($switchWidth * 0.36);
                box-shadow:  0 calc($switchWidth * .01) calc($switchWidth * .02) #23242432;
                transition: 0.3s;
            }

            &:active:after {
                width: calc($switchWidth * .5);
            }
        }

        input {
            width: 0;
            height: 0;
            visibility: hidden;

            &:checked + label {
                background: #23242443;

                &:after {
                    transform: translateX(-100%);
                    background: radial-gradient(circle at calc($switchWidth * .18) calc($switchWidth * .09), #ffcc89bb 10%, #fc4f00bb 70%);
                }
            }
        }
    }
}