@import '../../../Assets/vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

.topBox {
    position: fixed;
    left: 0;
    width: 100vw;
    height: $topBoxHeight;
    z-index: 1000;
}

.cta {
    width: 100vw;
    background-color: $orange;
    color: #fff;
    font-family: $fontFamily1;
    font-size: 1.5rem;
    text-align: center;
}

.header {
    width: 100vw;
    display: flex;

    .logoBox {
        display: flex;
        justify-content: center;
        align-items: center;

        a { 

            picture {

                img {
                    margin-top: 0;
                    margin-bottom: 0;
                    max-width: 90%;
                }

            }
        }
    }

    .mobileNavMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;

        svg {
        }

        .open {
        }

        ul {
            list-style-type: none;
            position: absolute;
            z-index: 100000;
            background: $dkGrey;
            line-height: 2rem;
            text-align: center;
            right: 0;
            font-family: "Secular";
            padding: 0;
            border: 1px solid #23242466;
            box-shadow: 0px 0px 5px $dkGrey;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            :first-child {
            }

            :last-child {
            }

            li {
                height: 10vh;
                font-size: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #e7e9eb;
    
                    &:hover {
                        color: $orange;    
                    }
                }

            }
        }
    }

    .phone {
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;

        a {
            text-decoration: none;
            color: $orange;
            font-family: $fontFamily1;
        }
    }
}