@import '../../../Assets/vars';
@import './mobile';
/**
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';
*/

$headerHeight: calc($topBoxHeight * 0.66667);
$headerBuffer: 2vh;

.topBox {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: $topBoxHeight;
    z-index: 1000;
    margin-bottom: $headerBuffer;
}

.cta {
    width: 100vw;
    height: calc($topBoxHeight - $headerHeight);
    background-color: $orange;
    color: #fff;
    font-family: $fontFamily1;
    font-size: 1.5rem;
    text-align: center;
}

.header {
    position: absolute;
    width: 100vw;
    height: $headerHeight;
    background-color: $offWhite;
    display: flex;
    box-shadow: 0 $headerBuffer 0 #e7e9eb;

    .logoBox {
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a { 

            picture {

                img {
                    margin-top: 0;
                    margin-bottom: 0;
                    max-width: 90%;
                    height: calc($headerHeight * 0.9);
                }

            }
        }
    }

    .mobileNavMenu {
        display: flex;
        width: 33%;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        height: 100%;

        svg {
            height: calc($headerHeight / $fib);
        }

        .open {
            transform: rotate(-90deg);
            animation: rotateX 1s ease-in-out;
            animation-fill-mode: forwards;
        }

        @keyframes rotateX {
            from {
                transform: rotate(-90deg);
            }
            to {
                transform: rotate(0deg);
            }
        }

        ul {
            width: 100vw;
            height: 0vh;
            list-style-type: none;
            bottom: 16vh;
            position: absolute;
            z-index: 100000;
            background: $dkGrey;
            line-height: 2rem;
            text-align: center;
            right: 0;
            font-family: "Secular";
            padding: 0;
            border: 1px solid #23242466;
            box-shadow: 0px 0px 5px $dkGrey;
            display: flex;
            flex-direction: column;
            animation: menuOpen 1s ease-in-out;
            animation-fill-mode: forwards;
            overflow: hidden;

            :first-child {
                margin-top: auto;
            }

            :last-child {
                margin-bottom: 3vh;
            }

            li {
                height: 10vh;
                font-size: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #e7e9eb;
    
                    &:hover {
                        color: $orange;    
                    }
                }

            }
        }
        @keyframes menuOpen {
            from {
                height: 0vh;
            }
            to {
                height: 87vh;
            }
        }
    }

    .phone {
        width: 34%;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 33%;
        height: 100%;

        a {
            text-decoration: none;
            color: $orange;
            font-family: $fontFamily1;
        }
    }

    .navMenu {
        nav {

            ul {

                li {
                }
            }

            a {

                &:hover {
                }
            }
        }
    }
}

.navMenu, 
.social, 
.stage-cube-cont {
}