@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {

    #About {
    
        .about {
        
            h1 {
                width: 100vw;
                height: 20vh;
                top: 0;
            }
        
            .copyAbout {
                top: 13vh;
                width: 100vw;
                height: 5vh;
            
                ul {
                    top: 18vh;
                    width: 100vw;
                    height: 34vh;
                }
            }

            .buttonCTA {
                display: none;

                button {

                }
            }
        }
    }
}