@import '../../../Assets/vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

#About {

    .about {
    
        h1 {
            font-family: $fontFamily1;
            color: $orange;
            font-weight: 400;
            line-height: 2rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .copyAbout {
            font-family: $fontFamilyCopy;
            font-size: 0.85rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        
            ul {
                font-size: 0.85rem;
                position: absolute;
                text-align: left;
                padding-left: 5vw;
                line-height: 1.2rem;
            }
        }

        .buttonCTA {
            position: absolute;
            justify-content: center;
            align-items: center;

            a {
                button {
                    font-family: $fontFamily1;
                    background-color: $orange;
                    border-radius: 1vw;
                    color: $offWhite;
                }

                :hover {
                    color: $dkGrey;
                }
            }
        }
    }
}