@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {

    .homeContainer {
      
        .intro {
            top: 2vh;
            width: 90%;
            left: 5%;
        }

        .elevatorPitch {
            top: 4vh;

            p {
                width: 25ch;
            }
    
            .contactP {
                left: 0;
                width: 100%;
    
                ul {
    
                    li {
    
                        button {
                            width: 12ch;
                            height: 3rem;
                            font-size: 1rem;
                            line-height: 1;
    
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
    .contactSticky {

        button {
            width: 12ch;
            height: 3rem;
            font-size: 1rem;
            top: 2vh;

            &:hover {
            }
        }
    }
}