@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {
    
    #Home {
    
        .hero {
        
            h1 {
                width: 100vw;
                top: 45vh;
            }
            
            .copyHero {
                width: 100vw;
                top: 65vh;
            }

            .buttonCTA {
                display: none;

                button {

                }
            }
        }
    }
}