@import '../../../Assets/vars';

@media screen and (width < $tabletMin) {

    $availHeight: calc(100vh - $topBoxHeight);
    $h1Height: calc($availHeight / $fib);
    
    #Home {
    
        .hero {
        
            h1 {
                width: 100vw;
                height: $h1Height;
            }
            
            .copyHero {
                width: 100vw;
                height: calc($h1Height / 2);
            }

            .buttonCTA {
                display: none;

                button {

                }
            }
        }
    }
}