@import '../../../Assets/vars';
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';

$availHeight: calc(100vh - $topBoxHeight);
$h1Height: calc($availHeight / $fib);

#Home {

    .hero {
    
        h1 {
            font-family: $fontFamily1;
            color: $orange;
            font-weight: 400;
            line-height: 2rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .copyHero {
            font-family: $fontFamilyCopy;
            font-size: 0.85rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .buttonCTA {
            position: absolute;
            justify-content: center;
            align-items: center;

            a {
                button {
                    font-family: $fontFamily1;
                    background-color: $orange;
                    border-radius: 1vw;
                    color: $offWhite;
                }

                :hover {
                    color: $dkGrey;
                }
            }
        }
    }
}