@import '../../../Assets/vars';
/**
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';
*/

$availHeight: calc(100vh - $topBoxHeight);
$h1Height: calc($availHeight / $fib);

#Home {

    .hero {
    
        h1 {
            font-family: $fontFamily1;
            color: $orange;
            font-weight: 400;
            line-height: 2rem;
            position: absolute;
            width: 100vw;
            height: $h1Height;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: $topBoxHeight;
        }
        
        p {
            font-family: $fontFamily1;
            color: $dkGrey;
            font-size: 0.85rem;
            position: absolute;
            bottom: $topBoxHeight;
            width: 100vw;
            display: flex;
            height: calc($h1Height / 2);
            justify-content: center;
            align-items: center;
        }
    }
}