@import '../../../Assets/vars';

@media screen and ($tabletMin <= width < $standardMin) {
    
    .footer {
        top: 0;
        width: 100%;
        font-size: .5rem;
        left: 0;
        background: #888;
    }
}