@import '../../../Assets/vars';
/**
@import './mobile';
@import './tablet';
@import './standard';
@import './hd1080';
@import './hd4kup';
*/

.footer {
    position: fixed;
    color: $dkGrey;
    text-align: center;
    z-index: 21000;
    font-size: 0.75rem;
    width: 100vw;
    top: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}